<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
	<event name="checkout_onepage_controller_success_action">
		<observer instance="Pcnametag\Placeorder\Observer\Checkout\OnepageControllerSuccessAction" name="pcnametag_placeorder_observer_checkout_onepagecontrollersuccessaction_checkout_onepage_controller_success_action"/>
	</event>
	 <event name="payment_method_is_active">
        <observer name="custom_payment" instance="Pcnametag\Placeorder\Observer\PaymentMethodAvailable" />
    </event>
</config>
